 body {
            font-family: Verdana, sans-serif;
        }
        .graph_img {
            margin: auto;
            width: 100%;
            height: auto;
        }
        h1, h2 {
            text-align: center;
        }
        table {
            border-collapse: collapse;
            align: center;
            margin: auto;
        }
        td, th {
            padding: 5px;
            border: 1px solid black;
            text-align: center;
        }